body {
  font-family: sans-serif;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer'
    'menu footer footer footer footer footer'
    'menu footer footer footer footer footer'
    'menu footer footer footer footer footer'
    'menu footer footer footer footer footer'
    'menu footer footer footer footer footer'
    'menu footer footer footer footer footer'
    'menu footer footer footer footer footer'
    'menu footer footer footer footer footer'
    'menu footer footer footer footer footer'
    'menu footer footer footer footer footer';
  grid-gap: 2px;
  background-color: blue;
  padding: 2px;
  color: blue;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 30px;
}

.item2 img{
width: 470px;
height: auto;
padding: 10px;
}
.item5 img{
width: 400px;
height: auto;
padding: 10px;
}
.item5 p{
text-align: left;
padding: 10px;
}

a{
  color: red;
}
.b {
  text-indent: 50px;
}
