*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

body,html {
    height: 100%;
    background-color: green;
}

/* SCROLLING PANE START */

/* hide the scrollbars */
::-webkit-scrollbar {
    display: none;
}

.scrolling-pane1{
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 40%;
  margin-left: -4px;
  overflow: scroll;
}
.scrolling-pane2{
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 60%;
  margin-left: -4px;
  overflow: scroll;
}


/* SCROLLING PANE END */

/* these are just the colors */
.blue-color {
  background-color: blue;
}

.orange-color {
  background-color: white;
}

/* this is dummy content */
.dummy-content {
  width: 80%;
  height: auto;
  margin: 5px auto;
  background-color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  /* line-height: 300px; */
  text-align: left;
  padding-left: 5px;
  color: blue;
}
.dummy-content img{
  width: 80%;
  height: auto;
  margin: 5px auto;
  font-size: 40px;
  font-family: sans-serif;
  /* line-height: 300px; */
  text-align: center;
}



* {
  box-sizing: border-box;
}

/* Set a background color */
body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 24.5%;
  margin-left: -3px;
}

/* Container around content */
.container.right {
  padding: 0px 40px;
  position: relative;
  background-color: inherit;
  width: 80%;
}

.container.left {
  padding: 2px 40px;
  top: 2px;
  height: 0px;
  position: relative;
  background-color: inherit;
  width: 30%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: 3px;
  background-color: white;
  border: 4px solid white;
  top: 18px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: -20px;
}

/* Place the container to the right */
.right {
  left: 22%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 17px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;

}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 16px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
  background-color: transparent;
  color: transparent;
  border: 0px;
}

/* The actual content */
.content {
  padding: 10px 20px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  text-align: right;
}
.content p{
  color: blue;
  background-color: white;
  position: relative;
  border-radius: 6px;
  text-align: left;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
.content img{
  width: 100%;
  height: auto;
  margin: 5px auto;
  font-size: 40px;
  font-family: sans-serif;
  /* line-height: 300px; */
  text-align: center;
}

.content h2{
  color: blue;
}





* {
  box-sizing: border-box;
}

/* Set a background color */
body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline2 {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline2::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: blue;
  top: 0;
  bottom: 0;
  left: 26.2%;
  margin-left: -3px;
}

/* Container around content */
.container2.right2 {
  padding: 0px 40px;
  position: relative;
  background-color: inherit;
  width: 76%;
}

.container2.left2 {
  padding: 2px 40px;
  top: 2px;
  margin-top:10px;
  height: 0px;
  position: relative;
  background-color: inherit;
  width: 29%;
}

/* The circles on the timeline */
.container2::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: -5px;
  background-color: blue;
  border: 4px solid blue;
  top: 18px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left2 {
  left: -20px;
}

/* Place the container to the right */
.right2 {
  left: 25.5%;
}

/* Add arrows to the left container (pointing right) */
.left2::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 17px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid blue;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent blue;
}

/* Add arrows to the right container (pointing left) */
.right2::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 16px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid blue;
  border-width: 10px 10px 10px 0;
  border-color: transparent blue transparent transparent;
}

/* Fix the circle for containers on the right side */
.right2::after {
  left: -16px;
  background-color: transparent;
  color: transparent;
  border: 0px;
}

/* The actual content */
.content2 {
  padding: 10px 20px;
  background-color: blue;
  position: relative;
  border-radius: 6px;
  text-align: right;
}
.content2 p{
  color: white;
  background-color: blue;
  position: relative;
  border-radius: 6px;
  text-align: left;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container2 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container2::before {
    left: 60px;
    border: medium solid blue;
    border-width: 10px 10px 10px 0;
    border-color: transparent blue transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left2::after, .right2::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right2 {
    left: 0%;
  }
}
.content2 img{
  width: 100%;
  height: auto;
  margin: 5px auto;
  font-size: 40px;
  font-family: sans-serif;
  /* line-height: 300px; */
  text-align: center;
}

.content2 h2{
  color: white;
}
